{% extends 'base.html.twig' %}

{% block title %}Naudotojo Profilis{% endblock %}
{% block body %}

<div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Vardenis Pavardenis</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://s3.amazonaws.com/nvest/Blank_Club_Website_Avatar_Gray.jpg" class="img-circle img-responsive"> </div>

                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                        <tr>
                            <td>Vartotojo vardas</td>
                            <td>{{ data.username }}</td>
                          </tr>
                        <tr>
                            <td>Vardas</td>
                            <td>{{ data.name }}</td>
                          </tr>
                        <tr>
                            <td>Pavardė</td>
                            <td>{{ data.surname }}</td>
                          </tr>
                        <tr>
                        <td>Asmens kodas</td>
                        <td>{{ data.code }}</td>
                      </tr>
                      <tr>
                        <td>E-mail</td>
                        <td><a href="mailto:{{ data.email }}">{{ data.email }}</a></td>
                      </tr>
                        <td>Telefono numeris</td>
                        <td>{{ data.phone }}</td>
                           
                      </tr>
                     
                    </tbody>
                  </table>
                  
                  
                </div>
              </div>
            </div>
            <center><a href="{{ path("contact") }}" class="btn btn-primary">Susisiekti</a></center>
            <br>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
