{% extends 'base.html.twig' %}

{% block title %}Administratoriaus Panele{% endblock %}

{% block body %}
<style>
    .form-control-borderless {
        border: none;
    }
    
    .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }

</style>
<link href="https://www.jqueryscript.net/demo/jQuery-Plugin-For-Sortable-Bootstrap-Tables-Bootstrap-Sortable/Contents/bootstrap-sortable.css" rel="stylesheet" type="text/css">

<br>
<div class="container">
    <h3>Administruoti Naudotojus</h3><br>

    {% for error in errors %}
    <p class="badge badge-danger">{{ error.text }}</p>
  {% endfor %}
	<div class="row">
        <div class="table-responsive col-md-12">
        <table id="sort2" class="grid table table-bordered sortable">
            <thead>
                <tr><th>Vart. ID</th><th>Vart. Vardas</th><th>Vart. El. Paštas</th><th>Rolė</th><th>Būsena</th><th>Veiksmai</th></tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.type }}</td>
                    <td>{{ user.banned }}</td>
                    <td><form action="{{ path("delete_user") }}" method="POST"><input type="hidden" name="form[user_id]" value="{{ user.id }}">
                        <button class="btn btn-primary btn-sm btn-block" type="submit">Šalinti</button></form>
                        <form action="{{ path("ban_user") }}" method="POST"><input type="hidden" name="form[user_id]" value="{{ user.id }}">
                        <button class="btn btn-primary btn-sm btn-block">Blokuoti / Atblokuoti</button></form>
                        <form action="{{ path("user_type") }}" method="POST">  
                        <input type="hidden" name="form[user_id]" value="{{ user.id }}">
                        <button class="btn btn-primary btn-sm btn-block">Keisti tipą</button>
                        <center><select class="browser-default custom-select" name="form[user_type]">
                                <option value="1">Paprastas</option>
                                <option value="2">Moderatorius</option>
                                <option value="3">Administratorius</option>
                            </select></center>
                    </td></form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script> 
<script src="https://www.jqueryscript.net/demo/jQuery-Plugin-For-Sortable-Bootstrap-Tables-Bootstrap-Sortable/Scripts/bootstrap-sortable.js"></script> 

{% endblock %}
