{% extends 'base.html.twig' %}

{% block title %}Sutartys{% endblock %}

{% block body %}
<style>
    .form-control-borderless {
        border: none;
    }
    
    .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }

</style>
<link href="https://www.jqueryscript.net/demo/jQuery-Plugin-For-Sortable-Bootstrap-Tables-Bootstrap-Sortable/Contents/bootstrap-sortable.css" rel="stylesheet" type="text/css">
<br>
<div class="container">
	<div class="row">
        <div class="table-responsive col-md-12">
        <table id="sort2" class="grid table table-bordered sortable">
            <thead>
                <tr><th>Sutarties numeris</th><th>Papildomos sąlygos</th><th>Veiksmai</th></tr>
            </thead>
            <tbody>
            {% for sutartis in sutartys%}
                <tr>
                    <td>{{ sutartis.id }}</td>
                    <td>{{ sutartis.papildomossalygos }}</td>
                    <td>{{ sutartis.data }}</td>
                      <td><form action="{{ path("delete_sutartis") }}" method="POST"><input type="hidden" name="form[sutartis_id]" value="{{ sutartis.id }}">
                        <button class="btn btn-primary btn-sm btn-block" type="submit">Nutraukti</button></form>
                        <form action="{{ path("edit_contracts") }}" method="POST"><input type="hidden" name="form[sutartis_id]" value="{{ sutartis.id }}">
                        <button class="btn btn-primary btn-sm btn-block">Redaguoti</button></form>
                        <form action="{{ path("siusti_kopija") }}" method="POST"><input type="hidden" name="form[sutartis_id]" value="{{ sutartis.id }}">
                        <button class="btn btn-primary btn-sm btn-block" type="submit">Siųsti kopiją</button>
                    </form></td>
                </tr>
            {% endfor %}
            {% for sutartis in sutartys1%}
                <tr>
                    <td>{{ sutartis.id }}</td>
                    <td>{{ sutartis.papildomossalygos }}</td>
                      <td><form action="{{ path("delete_sutartis") }}" method="POST"><input type="hidden" name="form[sutartis_id]" value="{{ sutartis.id }}">
                        <button class="btn btn-primary btn-sm btn-block" type="submit">Nutraukti</button></form>
                        <form action="{{ path("edit_contracts") }}" method="POST"><input type="hidden" name="form[sutartis_id]" value="{{ sutartis.id }}">
                        <button class="btn btn-primary btn-sm btn-block">Redaguoti</button></form>
                        <form action="{{ path("siusti_kopija") }}" method="POST"><input type="hidden" name="form[sutartis_id]" value="{{ sutartis.id }}">
                        <button class="btn btn-primary btn-sm btn-block" type="submit">Siųsti kopiją</button>
                    </td></form>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script> 
<script src="https://www.jqueryscript.net/demo/jQuery-Plugin-For-Sortable-Bootstrap-Tables-Bootstrap-Sortable/Scripts/bootstrap-sortable.js"></script> 

{% endblock %}
