{% extends 'base.html.twig' %}

{% block title %}Skelbimas {{ id }}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

<style>
    .galleria{ max-width: 600px; height: 600px; background: #fff }
</style>

<link href="/templates/add/style.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="estate">
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-md-12">
       <div class="row">
            <div class="col-md-7">
                <div class="product-gallery">
                    <div class="galleria">
                        {% block images %}
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Hopetoun_falls.jpg/1280px-Hopetoun_falls.jpg">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Bachalpsee_reflection.jpg/1280px-Bachalpsee_reflection.jpg">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/5/57/Galunggung.jpg">
                        {% endblock %}
                    </div>
                    <script>
                        (function() { 
                                Galleria.loadTheme('/templates/js/galleria/themes/classic/galleria.classic.min.js');
                                Galleria.run('.galleria');
                            }());
                    </script>
                </div>
            </div>
            <div class="col-md-5">
                <div class="product-info">
                    <h3>Skelbimo Pavadinimas</h3>
                    <span><a href="{{ path("profile") }}">Vardas pavarde</a></span>
                    <div class="wp-block property list no-border">
                        <div class="wp-block-content clearfix">
                            <p class="description mb-15">{{ description }}</p>
                            <span class="pull-left">
                                <span class="price">{{ kaina }} €</span> 
                                <span class="period">per mėnesį</span>
                            </span>
                        </div>
                        <div class="wp-block-footer style2 mt-15">
                            <ul class="aux-info">
                                <li><i class="fa fa-building"></i>2300 m<sup>2</sup></li>
                                <li><i class="fa fa-user"></i> 5 Kambariai</li>
                                <li><i class="fa fa-tint"></i> 2 Tuoletai</li>
                                <li><i class="fa fa-car"></i> 3 Garažai</li>
                            </ul>
                        </div>
                    </div>
                    <span class="clearfix"></span> 
                    
                </div>
            </div>
        </div>

        <!-- PROPERTY DESCRIPTION -->
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="tabs-framed boxed">
                    <ul class="tabs clearfix">
                        <center><h4 style="margin-top: 10px;">Papildoma Informacija</h4></center>
                    </ul>

                    <div class="tab-content">
                            <div class="tab-body">
                                <div class="section-title-wr">
                                    <h5 class="section-title left">Aprašymas</h5>
                                </div>
                                <p>
                                        {{ description }}
                                </p>

                                <div class="section-title-wr">
                                    <h5 class="section-title left">Papildomi Duomenys</h5>
                                </div>
                                <table class="table table-bordered table-striped table-hover table-responsive">
                                    <tbody>
                                        <tr>
                                            <td><strong>Namo numeris:</strong> 1 </td>
                                            <td><strong>Buto numeris:</strong> 2 </td>
                                            <td><strong>Plotas:</strong> 230 m<sup>2</sup></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Kambarių sk.:</strong> 5</td>
                                            <td><strong>Metai:</strong> 4</td>
                                            <td><strong>Pastato tipas:</strong> mūrinis </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Šildymas:</strong> Dujinis </td>
                                        </tr>
                                    </tbody>
                                </table>
                            

                            <h5 class="section-title left">Komentarai</h5>
                            <link href="/templates/add/comments_style.css" rel="stylesheet">
                            <div class="container bootstrap snippet">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="blog-comment">
                                            <ul class="comments">
                                            <li class="clearfix">
                                              <img src="https://bootdey.com/img/Content/user_1.jpg" class="avatar" alt="">    
                                              <form>
                                              <div class="post-comments"> 
                                                  <p class="meta">Dec 18, 2014 <a href="#">Jonas</a> rašė : <i class="pull-right">Reitingas: 0 
                                                        <button class="btn-secondary" type="submit" name="up"><small>+</small></button><button class="btn-secondary" type="submit" name="down"><small>-</small></button></i></p>
                                                    
                                                </p>
                                                  <p>
                                                    Komentaras
                                                  </p>
                                                  <button onclick="location.href = '/public/comment/edit';" class="btn btn-sm" name="edit_com" type="submit">Redaguoti</button>
                                              </div>
                                            </form>
                                            </li>
                                            <li class="clearfix">
                                              <img src="https://bootdey.com/img/Content/user_2.jpg" class="avatar" alt="">
                                              <form>
                                              <div class="post-comments">
                                                  <p class="meta">Dec 19, 2014 <a href="#">Maryte</a> rašė : <i class="pull-right">Reitingas: 0 
                                                      <button class="btn-secondary" type="submit" name="up"><small>+</small></button><button class="btn-secondary" type="submit" name="down"><small>-</small></button></i></p>
                                                  <p>
                                                    Komentaras
                                                  </p>
                                                  
                                                  <button onclick="confirm('Pranešti apie netinkamą komentarą?')" class="btn btn-sm"  name="edit_com" type="submit">Pranešti</button>
                                              </div> 
                                            </form>
                                            </li>
                                            <center>
                                            <a href="{{ path("comment") }}" class="btn btn-primary btn-sm">Naujas komentaras</a>
                                            
                                            <a href="{{ path("sign_contracts") }}" class="btn btn-primary btn-sm">Pasirašyti sutarti</a>
                                        </center>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</div>
</div>
</div>                

{% endblock %}
