<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Pagrindinis{% endblock %}</title>
        <link href="https://bootswatch.com/4/lux/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="/templates/js/galleria/galleria-1.5.7.min.js"></script>
        {% block includes %}
        {% endblock %}
    </head>
    <body>
        <!--Top Nav Bar -->
        {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a href="{{ path('home') }}" class="navbar-brand">Nekilnojamo Turto Skelbimai</a>
                <button class="navbar-toggler" data-target="#navigation" data-control="navigation" data-toggle="collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a href="{{ path("home") }}" class="nav-link">Pagrindinis</a>
                        </li>					
                    </ul>
                    <ul class="navbar-nav">
                            {% if app.session.get('userEmail') is empty %}
                            <li class="nav-item">
                                    <a href="{{ path("login") }}" class="nav-link">Prisijungti</a>
                            </li>	
                            <li class="nav-item">
                                   <a href="{{ path("registration") }}" class="nav-link">Registruotis</a>
                            </li>
                            {% endif %}
                            {% if app.session.get('userEmail') is not empty %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Naudotojo Meniu</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{{ path("edit_profile") }}">Redaguoti Profilį</a>
                                        <a class="dropdown-item" href="{{ path("user_ads") }}">Mano skelbimai</a>
                                        <a class="dropdown-item" href="{{ path("contracts") }}">Mano sutartys</a>
                                        <a class="dropdown-item" href="{{ path("new_add") }}">Naujas skelbimas</a>
                                        <a class="dropdown-item" href="{{ path("admin_panel") }}">Administratoriaus panele</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path("logout") }}" class="nav-link">Atsijungti</a>
                                </li>
                                {% endif %}
                        </ul>   
                </div>
        </nav>
        <br>
        {% endblock %}


        <!-- End Top Nav Bar -->
        {% block body %}

        {% block ads %}

        {% endblock %}

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
